/* MainContentLayout.css */
/* MainContentLayout.css */
.main-content {
    margin-left: 75px; /* Adjust to match the sidebar width */
    padding-top: 20px; /* Space from the top */
    flex-grow: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: start; /* Align content to the top */
  }
  
  
  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  