.vertical-navbar {
  width: 75px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; /* Ensure navbar is above other content */
}

nav.vertical-navbar.custom-navbar {
  background-color: #4f90aa !important;
}


.content {
  margin-left: 75px; /* Same as the width of the sidebar */
}

.hidden {
  display: none;
}

.visible-navbar {
  /* Your existing navbar styles */
}